<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-align-self-center">
      <img src="../../assets/img/free.png" width="300" height="300">
    </ion-col>
  </ion-row>
  
  <div class="ion-padding">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" type="text" placeholder="Email" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" type="password" placeholder="Password" ngModel required></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <ion-button (click)="login()" expand="block">Login</ion-button>
  <ion-button expand="block" color="secondary" routerLink="/registro" routerDirection="forward">Register</ion-button>
</ion-content>
