<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Products
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
  <ion-item *ngFor="let p of products">
    <ion-thumbnail slot="start">
      <ion-img src="./assets/img/toy.png"></ion-img>
    </ion-thumbnail>
    <ion-label style="font-size: small;">{{p.nombre}}</ion-label>
    <ion-row class="ion-alig-items-center">
          <ion-col size="8"><ion-label color="success"><b>{{ p.precio | currency:'MXN'}}</b></ion-label></ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button (click)="addtoCart(p)"><ion-icon name="add"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
  </ion-item>
</ion-list>
</ion-content>


