<ion-content fullscreen>

  <div class="ion-text-end">
    <ion-button (click)="close()" fill="clear" color="dark">
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>

  <div class="ion-padding">
    <ionlist>
      <ion-item *ngFor="let p of carrito" class="ion-text-wrap">
        <ion-thumbnail slot="start">
          <ion-img src="./assets/img/toy.png"></ion-img>
        </ion-thumbnail>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="3" class="ion-align-self-center">
              <ion-button color="medium" fill="clear" (click)="dismissQProduct(p)">
                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="1" class="ion-align-self-center">
              {{p.cantidad}}
            </ion-col>

            <ion-col size="2" class="ion-align-self-center">
              <ion-button color="medium" fill="clear" (click)="increaseQProduct(p)">
                <ion-icon name="add-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="1" offset="4">
              <ion-button color="danger" fill="clear" (click)="dismissProduct(p)">
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <b>{{p.nombre}}</b>
            </ion-col>
            <ion-col size="5" class="ion-text-end">
              {{p.cantidad * p.precio | currency:'MXN'}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <ion-label color="primary">
                <b>Total:</b>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="ion-text-end">
              <ion-label color="success">
                <b>{{getTotal() | currency:'MXN'}}</b>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ionlist>

    <ion-button expand="full" (click)="checkout()">
      Pagar
    </ion-button>
  </div>
</ion-content>
