<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Funko Pop Store
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    Bienvenidos a Funko Pop Store!
    <img src="./assets/img/fondo.jpg"/>
  </div>
</ion-content>
