<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Gestor de productos
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- create -->
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Nombre del producto</ion-label>
      <ion-input [(ngModel)]="nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="precio" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input [(ngModel)]="cantidad" type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="addProduct()" expand="block">
          Add<ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

  <!-- read -->
  <ion-list>
    <ion-list-header>Products List</ion-list-header>

    <ion-item lines="inset" *ngFor="let p of products">
      <ion-label>
        <h5>{{p.nombre}} - ({{p.precio | currency:'MXN'}}, {{p.cantidad}})</h5>
      </ion-label>

      <div class="item-note">
        <ion-icon name="create" style="zoom: 2.0;" [routerLink]="['/update-product/',p.id]"></ion-icon>
        <ion-icon name="trash" style="zoom: 2.0;" (click)="deleteProduct(p.id)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
