<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg">Menu</div>
      <div class="header-content">
        <img src="./assets/img/user.jpg">
        <ion-label>
          <h2>Nombre usuario</h2>
        </ion-label>
      </div>
      <ion-list class="menu-items" lines="none">

        <ion-menu-toggle auto-hide="true">
          <ion-item>
            <ion-icon name="home-outline" routerLink="/members/tabs/tabs/tab1"></ion-icon>Inicio
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item>
            <ion-icon name="pie-chart-outline" routerLink="/members/tabs/tabs/tab3"></ion-icon>Administrar productos
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item>
            <ion-icon name="browsers-outline" routerLink="/members/tabs/tabs/tab2"></ion-icon>Productos
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item>
            <ion-icon name="settings-outline" routerLink="registro"></ion-icon>Configuración
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-home="true">
          <ion-item>
            <ion-icon name="exit-outline" (click)="logout()"></ion-icon>Salir
          </ion-item>
        </ion-menu-toggle>        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
